<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="excelData" value="Users-Languages.xlsx"/>
    <add key="batesNumbersFile" value="Park IP Certification - bates numbers (single).docx"/>
    <add key="miscellaneousFile" value="Park IP Certification - miscellaneous.docx"/>
    <add key="templatesPath" value=""/>   
    <add key="filePrefix" value="Park IP Certification – "/>
    <add key="sourceLanguageTmpl" value="[source language]" />
    <add key="targetLanguageTmpl" value="[target language]" />
    <add key="singleBatesTmpl" value="[single bates #]" />
    <add key="projectNumberTmpl" value="[project #]" />
    <add key="fileNameTmpl" value="[file name]" />
    <add key="managerTmpl" value="Sarah Dunham" />
    <add key="signTmpl" value="[manager signature]" />    
  </appSettings>
</configuration>